.photos {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 20px;
}
.photos img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 868px) {
  .photos {
    height: 365px;
    overflow: auto;
    padding: 0 0 30px;
  }
}
